# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Virtual environment
leap_env/
venv/
env/

# Zip archives
zip files/
*.zip

# OS
.DS_Store
Thumbs.db

# Jupyter/IDE
.ipynb_checkpoints/
.vscode/
.idea/

#training data
intentional/
*.json
unintentional/
*.json